<div class="wrapper">
  <div class="thin-bar">
  </div>
  
<section class="intro text-center">
  <div class="row">
    <div class="col-sm-12 mt-2">
      <img class="img-fluid rounded-circle wow bounceIn"  src="./assets/images/bazenga.jpg" alt="Alex">
      <div class="details">
        <h2 class="tw"></h2>
        <!-- <h2 data-wow-delay="0.5s" class=" wow fadeIn" >Hi, I'm Alex.<br> <span id="writing-text">I'm a Software developer</span></h2> -->
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12">
        <a data-wow-delay="0.5s" class="wow fadeIn btn btn-outline-danger " href="mailto:lxodhiambo@gmail.com">Get In Touch</a>
    </div>
  </div>
</section>

<section id= "experience">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center m-3 wow fadeInUp">My Experience</h2>
      <p class="text-center tag-line wow fadeInUp">Specialist in need. Generalist at heart.</p>
    </div>
  </div>
  <div class="row p-2 wow fadeInUp">
    <div class="col-sm-12 col-md-4 text-center experience-topics">
    <i class="fa fa-laptop "></i>
      <h3>Front-end</h3>
      <ul class="list-group">
        <li>html(5)</li>
        <li>css(3)</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Jquery</li>
        <li>Bootstrap</li>
        <li>Semantics-UI</li>
        <li>Api | Ajax</li>
        <li>Search Engine Optimization</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 text-center experience-topics">
      <i class="fa fa-server"></i>
      <h3>Back-end</h3>
      <ul class="list-group">
        <li>NodeJS</li>
        <li>NPM</li>
        <li>Express</li>
        <li>SQL</li>
        <li>Mongo</li>
        <li>Restful Web Services</li>
        <li>PHP</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 text-center experience-topics">
    <i class="fa fa-star"></i>
      <h3>Tools</h3>
      <ul class="list-group">
        <li>Visual Studio Code</li>
        <li>Sublime Text</li>
        <li>Atom || Webstorm</li>
        <li>Git & Github</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>
</section>

<client></client>

<section id="footer-cta" class="p-5 " >
  <h2 class="text-center wow bounceInRight">Wanna work with me?</h2>
  <p></p>
  <div class="row text-center">
    <div class="col-sm-12  md-offset-2 columns">
      <p class="text-center wow bounceInRight">I'm currently available for work.</p>
      <p class="text-center wow bounceInRight">Call me on Tel: 0712192510</p>
    </div>
    <div class="col-sm-12 columns wow bounceInRight" id="startButtonDiv">
      <a class="btn " href="mailto:lxodhiambo@gmal.com">Start Now</a>
    </div>
  </div>
</section>


<footer id="footer">
  <div class="row text-center">
    <div class="col-sm-12  md-offset-3 columns">
      <p id="logo">AO</p>
      <p id="copyright">Copyright &copy; 2021 | Alex Odhiambo</p>
      <a href="https://www.facebook.com/vin.alex.7" class="fa fa-facebook"></a>
      <a href="https://twitter.com/VinAlex2" class="fa fa-twitter-square"></a>
      <a href="https://www.instagram.com/alex__odhiambo/" class="fa fa-instagram"></a>
    </div>
  </div>
</footer>
